<div class="container-fluid">
    <div class="col">
        <div class="col-md-12">
            {{> taskForm}}
        </div>
        <div class="col-md-12 overflow-scroll">
            {{> taskList}}
        </div>
    </div>
</div>